<h1 class="text-xl font-semibold text-blue-500 underline pl-6 pt-6">
  New User
</h1>

<%= render 'form', user: @user %>

<div class="pl-6 pt-6">
  <%= link_to 'Back', users_path, class: "btn-blue"%>
</div>