<h1 class="text-xl font-semibold text-blue-500 underline pl-6 pt-6">
  Editing Micropost
</h1>

<%= render 'form', micropost: @micropost %>

<div class="pl-6 pt-6">
  <%= link_to 'Show', @micropost, class: "btn-blue" %>
  <%= link_to 'Back', microposts_path, class: "btn-blue" %>
</div>